// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #123366;
}

#map {
  height: 93%;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
#navigation-bar {
  position: absolute;
  height: 56px;
  z-index: 998;
  top: 3vh;
  background-color: rgba(11, 126, 210, 0.91);
}
#nav_wrapper {
  color: #fff;
  background-color: rgba(0, 137, 236, 0.84);
  width: 100%;
  height: 56px;
  line-height: 56px;
}

#Track {
  color: white;
}

main {
  flex: 1 0 auto;
}

.label_filter {
  color: #ffffff; 
}

#form_fac {
  position: absolute;
  padding-left: 10px;
  margin-left: 80%;
  margin-top: 80vh;
  background-color: rgba(46, 109, 164, 0.78);
  z-index: 100;
  border-radius: 2%;
  width: 10%;
  height: 230px;
  color: white;
  top: -40vh;
  padding-top: 10px;
  min-width: 120px;
}

#navpos {
  position: absolute;
  top: 3.5vh;
  width: 100%;
  z-index: 10;
  background-color: rgba(21, 124, 212, 0.89);
  height: 65px;
  font-size: -webkit-xxx-large;
  color: #ffffff;
  font-weight: bold;
  padding-left: 30px;
  font-family: sans-serif;

}

#greenland {
  background-color: #4FA24F;
  width: 100%;
  height: 20px;
}

.navbar-fixed-bottom {
    border-radius: 0;
    background: rgb(42, 134, 214);
    height: 10px;
}

.container {
    background: #2D7CC1;
    color: white;
}

#nav-button {
  background: #FD0202;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #ffffff;
}

#text-bottom {
  text-align: -webkit-center;
}